/* =========================
   PERCENTAGE VELDEN
   ========================= */

.percentage-input {
    position: relative;
    width: 100%;
}

.percentage-input input {
    padding-right: 70px;
}

.percentage-input span {
    position: absolute;
    right: 18px;
    top: 50%;

    transform: translateY(-50%);

    color: #667085;

    font-size: 18px;
    font-weight: 700;

    pointer-events: none;
}